{% extends "base2.html" %}
{% block content %}

<!doctype html>
<html>
   <body>
     <h2> Student Details With Grades</h2>
      <table border = 1>
         <thead>
            <td>Student ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Gender</td>
            <td>Grade</td>
            
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row['id']}}</td>
               <td>{{row["fname"]}}</td>
               <td>{{row["lname"]}}</td>
               <td> {{ row["gender"]}}</td>
               <td>{{row['grade']}}</td>	
               	
            </tr>
         {% endfor %}
      </table>
   </body>
</html>
{% endblock content %}