<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>621, App!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('home')}}">Home Page</a>
</nav>

</body>
</html>

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <base href="/">
    <title>HSK Car Rentals</title>
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skel.css') }}" />-->
    <link href="../static/assets/css/plugins/animate.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/vegas.min.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/slicknav.min.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/assets/css/plugins/gijgo.css" rel="stylesheet">
    <link href="../static/assets/css/font-awesome.css" rel="stylesheet">
    <link href="../static/assets/css/reset.css" rel="stylesheet">
    <link href="../static/assets/style.css" rel="stylesheet">
    <link href="../static/assets/css/responsive.css" rel="stylesheet">
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="../static/assets/js/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="../static/assets/js/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="../static/assets/js/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="../static/assets/js/plugins/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="../static/assets/js/plugins/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="../static/assets/js/plugins/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="../static/assets/js/plugins/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="../static/assets/js/plugins/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="../static/assets/js/plugins/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="../static/assets/js/plugins/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="../static/assets/js/plugins/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="../static/assets/js/plugins/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="../static/assets/js/main.js"></script>
</head>

<header id="header-area">
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-left">
                    <i class="fa fa-map-marker"></i> Birmingham, Alabama
                </div>

                <div class="col-lg-3 text-center">
                    <i class="fa fa-mobile"></i> +1 800 888 999
                </div>

                <div class="col-lg-3 text-center">
                    <i class="fa fa-clock-o"></i> Mon-Fri 09.00AM - 6.00PM
                </div>

                <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <a href="index3.html" class="logo">
                        <img src="../static/assets/img/logo.png" alt="JSOFT">
                    </a>
                </div>

                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li class="active"><a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index2.html">Home 2</a></li>
                                    <li><a href="index3.html">Home 3</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">services</a></li>
                            <li><a href="#">Cars</a>
                                <ul>
                                    <li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
                                    <li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
                                    <li><a href="car-without-sidebar.html">Car Without Sidebar</a></li>
                                    <li><a href="car-details.html">Car Details</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html">Pages</a>
                                <ul>
                                    <li><a href="package.html">Pricing</a></li>
                                    <li><a href="driver.html">Driver</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="help-desk.html">Help Desk</a></li>
                                    <li><a href="login.html">Log In</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog</a>
                                <ul>
                                    <li><a href="article.html">Blog Page</a></li>
                                    <li><a href="article-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
{% block content %}

{% endblock content %}
</body>


<footer>
    <section id="footer-area">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>HSK</h2>
                            <div class="widget-body">
                                <img src="../static/assets/img/logo.png" alt="JSOFT">
                                <p>No better place to find a car, If you need a car, It has to be HSK</p>
                                <div class="newsletter-area">
                                    <form action="index.html">
                                        <input type="email" placeholder="Subscribe Our Newsletter">
                                        <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>HSK Core Team</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="#">
                                            Harish
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sandeep
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sai Kireeti
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>get touch</h2>
                            <div class="widget-body">
                                <p>Email or Call us to get in touch</p>
                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> UAB, Birmingham, AL</li>
                                    <li><i class="fa fa-mobile"></i> +880 888 999</li>
                                    <li><i class="fa fa-envelope"></i> hsk9@gmail.com</li>
                                </ul>
                                <a href="https://goo.gl/maps/b5mt45MCaPB2" class="map-show" target="_blank">Show Location</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="scroll-top">
        <img src="../static/assets/img/scroll-top.png" alt="JSOFT">
    </div>
</footer>
</html>







