{% extends "base2.html" %}
{% block content %}
    <section id="slideslow-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slideshowcontent">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h1>BOOK A CAR TODAY!</h1>

                                <div class="book-ur-car">
                                    <form action="{{url_for('findcar')}}">
                                        <div class="pick-location bookinput-item">
                                            <select id="location" class="custom-select">
                                                <option selected>Pick Location</option>
                                                <option value="birmingham">Birmingham</option>
                                                <option value="hoover">Hoover</option>
                                                <option value="atlanta">Atlanta</option>
                                                <option value="nashville">Nashville</option>
                                            </select>
                                        </div>

                                        <div class="pick-date bookinput-item">
                                            <input id="start_date" placeholder="Pick Date" />
                                        </div>

                                        <div class="retern-date bookinput-item">
                                            <input id="end_date" placeholder="Return Date" />
                                        </div>

                                        <div class="bookcar-btn bookinput-item">
                                            <button type="submit">Find Car</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


