{% extends "base2.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Car List Content Start -->
    <div class="col-lg-12">
      <div class="car-list-content">
        <div class="row">
          <!-- Single Car Start -->
          {% for record in records %}
            <div class="col-lg-6 col-md-6">
              <div class="single-car-wrap">
                <div class="car-list-thumb car-thumb-1"></div>
                <div class="car-list-info without-bar">
                  <h2><a href="#">{{row[1]}}</a></h2>
                  <h5>{{row[4]}} Rent /per a day</h5>
                  <ul class="car-info-list">
                    <li>AC</li>
                    <li>Diesel</li>
                    <li>Auto</li>
                  </ul>
                  <a href="#" class="rent-btn">Book It</a>
                  <button type="button" class="rent-btn" data-toggle="modal" data-target="#modeledit{{row[0]}}">Update</button>
                  <div class="modal fade" id="modeledit{{row[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Update Car Info</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="" action="{{url_for('updaterec')}}" method="POST">
                            <div class="form-group">
                              <input type="hidden" name="vid" value="{{row[0]}}">
                              <input type="hidden" name="start_date" value="{{start_date}}">
                              <input type="hidden" name="end_date" value="{{end_date}}">
                              <label>car model:</label>
                              <input type="text" class="form-control" name="model" value="{{row[1]}}">
                            </div>
                            <div class="form-group">
                              <label>registration No:</label>
                              <input type="text" class="form-control" name="rno" value="{{row[2]}}">
                            </div>
                            <div class="form-group">
                              <label>Seating Capacity:</label>
                              <input type="text" class="form-control" name="seating" value="{{row[3]}}">
                            </div>
                            <div class="form-group">
                              <label>Vehicle Type:</label>
                              <input type="text" class="form-control" name="vtype" value="{{row[4]}}">
                            </div>
                            <div class="form-group">
                              <label>price per day:</label>
                              <input type="text" class="form-control" name="priceperday" value="{{row[5]}}">
                            </div>
                            <div class="form-group">
                              <label>Status:</label>
                              <input type="text" class="form-control" name="vstatus" value="{{row[6]}}">
                            </div>
                            <div class="form-group">
                              <label>Location:</label>
                              <input type="text" class="form-control" name="location" value="{{row[7]}}">
                            </div>
                            <div class="form-group">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button class="btn btn-primary" type="submit">Update Car</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


