{% extends "base2.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-8 m-auto">
      <div class="login-page-content">
        <div class="login-form">
          <h3>Welcome Back!</h3>
          <form action="index.html">
            <div class="username">
              <input type="text" placeholder="Email or Username">
            </div>
            <div class="password">
              <input type="password" placeholder="Password">
            </div>
            <div class="log-btn">
              <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
            </div>
          </form>
        </div>

        <div class="login-other">
          <span class="or">or</span>
          <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
          <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
        </div>
        <div class="create-ac">
          <p>Don't have an account? <a href="register.html">Sign Up</a></p>
        </div>
        <div class="login-menu">
          <a href="about.html">About</a>
          <span>|</span>
          <a href="contact.html">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
