{% extends "base2.html" %}
{% block content %}

<form action = "{{ url_for('custreg') }}" method = "POST">
    <label for="fname">First Name:</label>
    <input type="text" name="fname" id="fname" />
    <br /><br>
    <label for="lname">Last Name:</label>
    <input type="text" name="lname" id="lname" />
    <br /><br>
    <label for="uname">User Name:</label>
    <input type="text" name="uname" id="uname" />
<br /><br>
     Gender:
     <input name="gender" type="radio" id="gm" value="male" />
     <label for="gm">Male</label>
     <input name="gender" type="radio" id="gf" value="female" />
     <label for="gf">Female</label>
   <br /><br>
    <label for="age">Age:</label>
    <input type="text" name="age" id="age" />
<br /><br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
<br /><br>
    <label for="phone">Phone:</label>
    <input type="text" name="phone" id="phone" />
<br /><br>
    <label for="pwd">Password:</label>
    <input type="password" name="pwd" id="pwd" />
<br /><br>
    <label for="rpwd">Confirm Password:</label>
    <input type="password" name="rpwd" id="rpwd" />
<br /><br>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" />

 <br><br>
    <input type="submit" name="submit" value="Submit"/>
    <input type="reset" value="Clear Form" />
  </p>
</form>

</center>


<section id="lgoin-page-wrap" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-8 m-auto">
        <div class="login-page-content">
          <div class="login-form">
            <h3>Sign Up</h3>
            <form action="index.html">
              <div class="name">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" placeholder="First Name">
                  </div>
                  <div class="col-md-6">
                    <input type="text" placeholder="Last Name">
                  </div>
                </div>
              </div>
              <div class="username">
                <input type="email" placeholder="Email">
              </div>
              <div class="username">
                <input type="text" placeholder="Username">
              </div>
              <div class="password">
                <input type="password" placeholder="Password">
              </div>
              <div class="log-btn">
                <button type="submit"><i class="fa fa-check-square"></i> Sign Up</button>
              </div>
            </form>
          </div>

          <div class="login-other">
            <span class="or">or</span>
            <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Signup With Facebook</a>
            <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Signup With Google</a>
          </div>
          <div class="create-ac">
            <p>Have an account? <a href="login.html">Sign In</a></p>
          </div>
          <div class="login-menu">
            <a href="about.html">About</a>
            <span>|</span>
            <a href="contact.html">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock %}
